.accordion__item {
  width: 900px;

}

.accordion__item:first-child {
  border: none;
}

.accordion__trigger{
    font-size: 22px;
    height: 100px;
      border-radius: 10px;
  display: block;
  width: 900px;
  padding: 10px 20px;
  color: #fff;
  border: none;
}
.greyBackground{
    background-color: grey;
}
.blackBackground {
    background-color: black;
}

.accordion__item.is-open .accordion__trigger {
  color: #fff;
}

.accordion__content {
        padding-top: 20px;
    border-radius: 10px;
    background-color: black;
}

.accordion__content p {

  margin: 0;
  padding: 20px;
}
.main
{
    width: 900px;
    margin: 0px auto;
}
ul
{
    padding: 0px;
}
.printBtn
{
    position: fixed;
}
.printAll
{
    float: right;
    height: 50px;
    width: 50px;
}
.print
{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    height: 32px;
    width: 32px;
}
.printBlock
{
   height: 50px;
   width: 100%;
}
.table-Open
{
    font-size: 12pt;
}
.table-InReview
{
    color:yellow;
    font-size: 12pt;
}
.table-Approved
{
    color: green; 
    font-size: 12pt;
}
.table-Disapproved
{
    color: red;
    font-size: 12pt;
}
.gap
{
    height: 10px;
}