.mainBox {
    margin: 0px auto;
    width: 920px;
    height: 530px;
}

.upperBox {
    float: left;
    overflow: auto;
    width: 920px;
    height: 75px;
}

.bottomBox {
    border-radius: 15px;
    background-color: rgb(40, 40, 40);
    margin-top: 5px;
    width: 920px;
    height: 450px;
    overflow: auto;
    float: left;
}

.confirmBox {
    height: 550px;
    width: 650px;
    overflow: auto;
    float: left;
}
.insideBox-data {
    margin-top: 20px;
    margin-left: 20px;
    height: 410px;
    width: 430px;
    overflow: auto;
    float: left;
}
.insideBox-detail {
    margin-top: 20px;
    margin-left: 20px;
    height: 410px;
    width: 880px;
    overflow: auto;
}
.relationshipBox {
    width: 880px;
    overflow: auto;
    float: top;
}
.tag{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    height: 75px;
    border-radius: 15px;
    background-color: rgb(40, 40, 40);
    font-size: 36px;
    float: left;
    color: grey;
}
.tagGap
{
    margin-left: 10px;
}
td.confirmBtn{

}
td.removeBtn{
    
}


